<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/customFileInput.css">

<div class="container py-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title fw-bold text-center mb-3">Edit Info - <%= gym.title %></h3>
                    <form action="/gyms/<%= gym._id %>?_method=PUT" method="POST" novalidate class="needs-validation"
                        enctype="multipart/form-data">
                        <!-- Name -->
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="gym[title]" id="title" placeholder="Name"
                                value="<%= gym.title %>" autocomplete="off" required>
                            <label class="form-label" for="title">Name</label>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <!-- Location & Price -->
                        <div class="row g-2">
                            <div class="col-md-8">
                                <div class="form-floating mb-3">
                                    <input class="form-control" type="text" name="gym[location]" id="location"
                                        placeholder="Location" value="<%= gym.location %>" autocomplete="off" required
                                        readonly>
                                    <label class="form-label" for="location">Location</label>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input class="form-control" type="number" name="gym[price]" id="price"
                                        placeholder="Price" value="<%= gym.price %>" step="0.01" required>
                                    <label class="form-label" for="price">Price ($)</label>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>
                            </div>
                        </div>
                        <!-- Description -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" name="gym[description]" id="description"
                                placeholder="Description" style="height: 150px;"
                                required><%= gym.description %></textarea>
                            <label for="description">Description</label>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <!-- Add Images -->
                        <div class="input-group mb-3 custom-file-input">
                            <input type="file" class="form-control" name="image" id="image" multiple>
                            <label class="input-group-text" for="image">Add image(s)</label>
                        </div>
                        <!-- Delete Images -->
                        <% gym.images.forEach(function(img, i) { %>
                        <div class="text-center mb-3">
                            <img src="<%= img.thumbnail %>" class="img-thumbnail me-4" alt="">
                            <div class="form-check form-switch form-check-inline mt-3">
                                <input class="form-check-input" type="checkbox" role="switch" name="deleteImages[]"
                                    id="image-<%=i%>" value="<%= img.filename %>">
                                <label class="form-check-label" for="image-<%=i%>">Remove</label>
                            </div>
                        </div>
                        <% }) %>
                        <!-- Buttons -->
                        <button class="btn btn-success">Submit</button>
                        <a class="btn btn-warning" href="/gyms/<%= gym._id %>">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>