<% layout('layouts/boilerplate') -%>

<div id="map" style="width: 100%; height: 500px" class="mb-3"></div>
<h1 class="text-center mb-3">All Gyms</h1>
<a href="/gyms/new" class="btn btn-primary mb-3">Add Gym</a>

<% for( let gym of gyms ) { %>
<div class="card mb-3">
    <% if (gym.images.length > 0) { %>
    <img src="<%= gym.images[0].url %>" class="card-img-top" alt="<%= gym.title %>"
        style="width: 100%; height: 500px; object-fit: cover;">
    <% } else { %>
    <img src="https://res.cloudinary.com/zorridge/image/upload/v1649169118/RateMyGym/l7r2d7xuosy92ypbimed.jpg"
        class="card-img-top" alt="" style="width: 100%; height: 500px; object-fit: cover;">
    <% } %>
    <div class="card-body">
        <h5 class="card-title"><%= gym.title %></h5>
        <p class="card-text"><%= gym.description %></p>
        <p class="card-text"><small class="text-muted"><%= gym.location %></small></p>
        <a href="/gyms/<%= gym._id %>">View <%= gym.title %></a>
    </div>
</div>
<% } %>

<script>
    const mapboxToken = '<%-process.env.MAPBOX_TOKEN%>';
    const gymsRaw = `<%-JSON.stringify(gyms)%>`;
</script>
<script src="/javascripts/indexMap.js"></script>