<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/gymIndex.css">

<div class="container py-3">
    <h1 class="text-center mb-3 fw-bold">Explore all the gyms!</h1>
    <div class="row" id="gymList">
        <% for( let gym of gyms ) { %>
        <div class="col-lg-6">
            <div class="card bg-dark text-white mb-3">
                <% if (gym.images.length > 0) { %>
                <img src="<%= gym.images[0].url %>" class="card-img" alt="<%= gym.title %>">
                <% } else { %>
                <img src="https://images.unsplash.com/photo-1544033527-b192daee1f5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                    class="card-img" alt="">
                <% } %>
                <div class="card-img-overlay">
                    <h2 class="card-title"><%= gym.title %></h2>
                    <p class="card-text"><%= gym.description.substring(0, 100) %>...</p>
                    <p class="card-text fw-bold"><%= gym.location %></p>
                    <a href="/gyms/<%= gym._id %>" class="btn btn-info btn-sm fw-bold">View <%= gym.title %></a>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-sm btn-secondary fw-bold" id="moreButton">Click To See More</button>
    </div>
</div>

<!-- Back to Top Button -->
<button class="btn p-0" id="b2t" style="width: 75px;"><img src="/imgs/b2t.svg" alt="back to top button"></button>

<script src="/javascripts/infiniteScroll.js"></script>
<script src="/javascripts/b2t.js"></script>